[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cookiecutter = "*"
gcovr = "*"
hammocking = "*"
kconfiglib = "*"
jinja2 = "*"
pytest = "*"
pytest-env = "*"
testfixtures = "*"
junitparser = "*"
mashumaro = "*"
loguru = "*"
black = "*"
flake8 = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
sphinxcontrib-mermaid = "*"
sphinx-needs = "*"
sphinx-test-reports = "*"
doxysphinx = "*"
sphinx-rtd-size = "*"
sphinxcontrib-datatemplates = "*"
pyelftools = "*"
sphinxcontrib-plantuml = "*"
pipenv = "*"

[requires]
python_version = "3.11"
