menu "Light Controller"
    choice COLOR
        prompt "Select color"
        default COLOR_GREEN
        config COLOR_GREEN
            bool "Green"

        config COLOR_BLUE
            bool "Blue"

        config COLOR_RED
            bool "Red"

        config COLOR_PURPLE
            bool "Purple"
    endchoice
endmenu
