name: selftests

on:
  push:
    branches: [develop]
  pull_request:
    branches: [develop]

  workflow_dispatch:

env:
  USER_PATH_FIRST: true

jobs:
  test:
    runs-on: windows-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: true
      - name: install tools and run selftests
        run: |
          .\build.ps1 -install
          .\build.ps1 -build -target selftests
        shell: powershell
      - uses: actions/upload-artifact@v2
        with:
          name: quality-gate-results.zip
          retention-days: 90
          path: test/output/test-report.xml
          if-no-files-found: error
      - uses: actions/upload-artifact@v2
        with:
          name: unittest-results.zip
          retention-days: 90
          path: "build/**/junit.xml"
          if-no-files-found: error
      - uses: actions/upload-artifact@v2
        with:
          name: code-coverage.zip
          retention-days: 90
          path: build/**/coverage/*
          if-no-files-found: error
